// == BUTTONS == //
@mixin hover-btn {
	background-color: _palette(btn-bg-hover);
	border-color: _palette(btn-bg-hover);
	-webkit-box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 410px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 10px -10px rgba(0, 0, 0, 0.57);
	color: _palette(bg-primary);
	@include transition;
}

@mixin btn {
	align-items: center;
	background: none;
	border: 2px solid _palette(btn-fg);
	color: _palette(btn-fg);
	cursor: pointer;
	justify-content: center;
	min-width: 6rem;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: fit-content;

	&:hover {
		@include hover-btn;
	}
}

.c-btn {
	&--c1 {
		color: _palette(theme);
	}

	&--disabled {
		color: _palette(t-gray-light);
	}
}

.c-btn {
	@include btn();
	font-weight: 500;
	padding: 8px;

	&-ico {
		fill: _palette(theme);
		margin: 0.25rem;
		vertical-align: middle;
		width: 30px;
		@include transition;
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:focus {
		@include hover-btn;
		color: _palette(btn-fg-hover);

		.btn-ico {
			fill: _palette(btn-fg-hover);
		}
	}
}
