// == THEME == //

$palette: (
	theme: #1c9ad1,
	theme-light-1: #51b7e3,
	theme-light-2: #7fd1f5,
	theme-light-3: #c4edff,
	theme-light-4: #e0f7fa,
	theme-light-5: #f7fcfd,
	theme-dark: #1580ad,
	bg-primary: #fff,
	bg-secondary: #f1f1f1,
	bg-input: rgb(252, 249, 249),
	t-normal: #000,
	t-title: #000,
	t-gray: #8b8b8b,
	t-gray-light: #b8b8b8,
	t-gray-dark: #535353,
	btn-bg: #fff,
	btn-fg: #1c9ad1,
	btn-bg-hover: #7fd1f5,
	btn-fg-hover: #fff,
	footer-bg: #5d866c,
	footer-fg: #eaeaea,
	footer-link: #eaeaea,
	footer-hover: #d4dfd8,
	footer-border: #a5c698,
);
